<div class="demo-container section" id="demo">
    <div class="top-annotation text-xs-small color-dark">
        2016-2017
    </div>
    <div class="left-annotation text-xs-small color-dark">
        INTRODUCTION
    </div>

    <div class="demo-carousel">
        <div class="demo-slide">
            <div class="demo-slide-content">
                <div class="demo-square"></div>
                <div class="demo-img"></div>
            </div>
        </div>
        <div class="demo-slide">
            <div class="demo-slide-content">
                <div class="demo-square"></div>
            </div>
        </div>
        <div class="demo-slide">
            <div class="demo-slide-content">
                <div class="demo-square"></div>
            </div>
        </div>
    </div>
</div>