<div class="section">
    <div class="top-annotation text-xs-small color-white">
        2016-2017
    </div>
    <div class="left-annotation text-xs-small color-white">
        INTRODUCTION
    </div>
    <div class="header-border">
        <div class="title color-white">Playground</div>
        <div class="subtitle text-small color-white">
            The place where anything can happen and more... So much code so much fun
        </div>
    </div>
</div>