<div class="section">
    <div class="top-annotation text-xs-small color-white">
        2016-2017
    </div>
    <div class="left-annotation text-xs-small color-white">
        INTRODUCTION
    </div>
    <div class="header-border">
        <div class="title color-white">Sophie Vanderveken</div>
        <div class="subtitle text-small color-white">
            Pixel lover and code writer based in London
        </div>
    </div>
</div>