<div class="section" id="header">
    <div class="header-container">
        <div class="top-annotation text-xs-small color-white">
            2016-2017
        </div>
        <div class="left-annotation text-xs-small color-white">
            INTRODUCTION
        </div>
        <div class="header-border">
            <div class="title color-white">Playground Code fun</div>
            <div class="subtitle text-small color-white">
                Pixel lover and code writer based in London
            </div>
        </div>
    </div>
</div>
