<div class="nav">
    <a class="nav-item-container is-active" href="#">
        <span class="nav-item"></span>
    </a>
    <a class="nav-item-container" href="#">
        <span class="nav-item"></span>
    </a>
    <a class="nav-item-container" href="#">
        <span class="nav-item"></span>
    </a>
    <a class="nav-item-container" href="#">
        <span class="nav-item"></span>
    </a>
</div>