<nav class="nav-header nav">
    <a class="nav-item-container is-active" href="#header">
        <span class="nav-item"></span>
    </a>
    <a class="nav-item-container" href="#demo">
        <span class="nav-item"></span>
    </a>
    <a class="nav-item-container" href="#infos">
        <span class="nav-item"></span>
    </a>
    <a class="nav-item-container" href="#contact">
        <span class="nav-item"></span>
    </a>
</nav>