.demo-container {
    color: #333;
    width: 100%;

    .demo-slide-content {
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding: 120px 0 60px 0;

        &:focus {
            outline: 0;
        }

        .demo-square {
            width: 500px;
            height: 300px;
            background: white;
            margin: auto;
            border: 10px solid transparent;
            -moz-border-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
            -webkit-border-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
            border-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
            border-image-slice: 1;
        }
    }
}
