.demo-container {
    color: #333;
    width: 100%;
    height: 660px;

    .demo-slide-content {
        width: 80%;
        margin: 0 auto;
        position: relative;
        height: 600px;
        display: flex;
        align-items: center;

        &:focus {
            outline: 0;
        }

        .demo-square {
            width: 500px;
            height: 360px;
            background: white;
            margin: auto;
            border: 10px solid transparent;
            -moz-border-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
            -webkit-border-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
            border-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
            border-image-slice: 1;
        }
    }
}
