.header-container {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .title {
        font-family: 'marked';
        font-size: 4em;
    }

    .subtitle {
        margin-top: 26px;
    }

    .header-border {
        border: 1px solid white;
        height: calc(100% - 100px);
        width: calc(100% - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }
}